body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
  h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E
  }
  a{
    color: #11999E
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
  }
  hr{
  border: dotted #848ccf 6px;
  border-bottom: none;
  width :5%;
  margin : 100px auto 100px auto;

  }
  a:link{
    text-decoration: none;
  }
  .Top-Container{
    background-color: #848ccf;
    position: relative;
    padding-top: 100px
  }

  .top_cloud{
    position: absolute;
    right:400px;
    top:50px;
  }
  .bottom_cloud
  {
    position: absolute;
    bottom: 300px;
    left: 300px;
  }
  .DP
  {
    margin-top: 20px;
  }
  .desc{
    margin: 0 30px 0 30px;
    color:#40514E
  }
  .name_des{
    color: #66BFBF;
    line-height: 2;
  }
  .skill-row{
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
    width: 50%;
  }
  .TT-img{
  margin-left: 30px;
  width: 25%;
  float:right;}
  .Code-img{
  margin-right: 30px;
  width: 25%;
  float:left;}
  .head-skills{
    color:#11999E;
  }
  .bottom-container{
    padding: 30px;
    background-color: #66BFBF;
  }
  .copyright{
    color:#EAF6F6;
  }
  #head-skills{
    color: #66BFBF;
  }
  .footer-link{
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
  }
  .btn {
    margin: 0 0 40px 0;
  	box-shadow: 0 10px 14px -7px #066cfb;
  	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  	background-color:#599bb3;
  	border-radius:15px;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:20px;
  	font-weight:bold;
  	padding:13px 32px;
  	text-decoration:none;
  	text-shadow:0 1px 0 #3d768a;
  }
  .btn:hover {
  	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  	background-color:#408c99;
  }
  .btn:active {
  	position:relative;
  	top:1px;
  }
